

body {
  background-image: url('/assets/greenbaize.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Noteworthy;
}

h1 {
  /*color: white;*/
  text-align: center;
}

span {
  color: red;
  font-size: 2em;
}

/*td, p, h3 {
  color:white;
}*/
/*p {
  color: white;
}*/

a {
  text-decoration: none;
  color: white;
}

/*h3 {
  color: white;
}*/
h6 {
  text-align: center;
  /*color: white;*/
}

.leaderboard  {
  width: 30%;
  vertical-align: top;
  margin-left: 20px;
  display: inline-block;
}
.board_frame a, .board_frame img {
  display: inline-block;
  border: 1px solid white;
  width: 140px;
  height: 140px;
}

.board_frame {
  display: inline-block;
  width: 40%;
}

.field {
  text-align: center;
  padding:  20px;
}

.actions {
  text-align: center;
  padding: 20px;
}


footer {
  text-align: center;
}

