
<body>
<header><h1>Welcome to <span> TIC TAC TOE </span>for 2 players</h1></header>

<h1>  LADIES AND GENTLEMENT - WE HAVE A WINNER!!!!! </h1>
<footer>
  <%= link_to 'New Game', new_game_path %> 
<%#= link_to "Play Another Game", games_path%>
</footer>
</body>